# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [57]:
import pandas as pd
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

df.head()

print(df.columns)
df.columns = df.columns.str.lower()
print(df.columns)
df.columns = df.columns.str.replace(" ", "_", regex=False)
print(df.columns)
df.columns = df.columns.str.replace(r"\bst\b", "state", regex=True)
print(df.columns)

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Index(['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')
Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')
Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [59]:

unique_values = df['state'].unique()
print(unique_values)

['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]

In [47]:
print(df['customer_lifetime_value'].dtype)

float64

In [63]:
unique_values = df['state'].unique()
print(unique_values)

df['gender'] = df['gender'].str.strip().str.lower().map({'m': 'M', 'male': 'M', 'f': 'F', 'female': 'F', 'femal': 'F'})

state_mapping = {'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'}
df['state'] = df['state'].replace(state_mapping)

df['education'] = df['education'].str.replace("Bachelors", "Bachelor", regex=False)

df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(str)
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '', regex=False)


vehicle_class_mapping = {'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'}
df['vehicle_class'] = df['vehicle_class'].replace(vehicle_class_mapping)

df.head(10)

['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' nan]

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,nan,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,538089.86,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.4,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,738817.81,28812.0,93.0,1/0/00,Special Auto,Four-Door Car,425.527834

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [70]:
df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(float)
df['number_of_open_complaints'] = df['number_of_open_complaints'].astype(str).apply(lambda x: x.split('/')[1] if '/' in x else x).astype(float)

df.head(10)
df['number_of_open_complaints'].unique()

array([ 0.,  2.,  1.,  3.,  5.,  4., nan])

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [92]:
df.drop(columns=['customer'], inplace=True)
df['state'].fillna(df['state'].mode()[0], inplace=True)
df['gender'].fillna(df['gender'].mode()[0], inplace=True)
df['education'].fillna(df['education'].mode()[0], inplace=True)
df['customer_lifetime_value'].fillna(df['customer_lifetime_value'].median(), inplace=True)
df['income'].fillna(df['income'].median(), inplace=True)
df['monthly_premium_auto'].fillna(df['monthly_premium_auto'].median(), inplace=True)

df['policy_type'].fillna(df['policy_type'].mode()[0], inplace=True)
df['total_claim_amount'].fillna(df['total_claim_amount'].median(), inplace=True)
df['number_of_open_complaints'].fillna(0, inplace=True)
df['vehicle_class'].fillna(df['vehicle_class'].mode()[0], inplace=True)




print(df.isnull().sum())

state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

/var/folders/hh/hx7f_d913pbf5gbc452qrps00000gp/T/ipykernel_4400/3374989980.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['state'].fillna(df['state'].mode()[0], inplace=True)
/var/folders/hh/hx7f_d913pbf5gbc452qrps00000gp/T/ipykernel_4400/3374989980.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['gender'].fillna(df['gender'].mode()[0], inplace=True)
/var/folders/hh/hx7f_d913pbf5gbc452qrps00000gp/T/ipykernel_4400/3374989980.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['education'].fillna(df['education'].mode()[0], inplace=True)
/var/folders/hh/hx7f_d913pbf5gbc452qrps00000gp/T/ipykernel_4400/3374989980.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['customer_lifetime_value'].fillna(df['customer_lifetime_value'].median(), inplace=True)
/var/folders/hh/hx7f_d913pbf5gbc452qrps00000gp/T/ipykernel_4400/3374989980.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['income'].fillna(df['income'].median(), inplace=True)
/var/folders/hh/hx7f_d913pbf5gbc452qrps00000gp/T/ipykernel_4400/3374989980.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['monthly_premium_auto'].fillna(df['monthly_premium_auto'].median(), inplace=True)
/var/folders/hh/hx7f_d913pbf5gbc452qrps00000gp/T/ipykernel_4400/3374989980.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['policy_type'].fillna(df['policy_type'].mode()[0], inplace=True)
/var/folders/hh/hx7f_d913pbf5gbc452qrps00000gp/T/ipykernel_4400/3374989980.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['total_claim_amount'].fillna(df['total_claim_amount'].median(), inplace=True)
/var/folders/hh/hx7f_d913pbf5gbc452qrps00000gp/T/ipykernel_4400/3374989980.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['number_of_open_complaints'].fillna(0, inplace=True)
/var/folders/hh/hx7f_d913pbf5gbc452qrps00000gp/T/ipykernel_4400/3374989980.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['vehicle_class'].fillna(df['vehicle_class'].mode()[0], inplace=True)

In [ ]:
#For Customers, since they are are just ID numbers, they might not provide and analyical purpose, I dropped that column
#For categorical columns such as state, gender and education, and policy type, I filled the values with mode
#For the numerical columns, I used median 
#For open complaints, I used 0 for the null values as it is reasonable that maybe they dont have any complaints
#For vehcle class I used the mode.

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [96]:
duplicate_rows = df.duplicated()
print("Number of duplicate rows:", duplicate_rows.sum())
print(df[duplicate_rows])

Number of duplicate rows: 2941
           state gender education  customer_lifetime_value   income  \
652       Oregon      F  Bachelor               684615.030      0.0
755   California      F  Bachelor              1017971.700  14290.0
771   California      F  Bachelor               411858.860  69379.0
996       Oregon      F    Master               417068.730  29462.0
1031  California      M  Bachelor               445811.340  17622.0
...          ...    ...       ...                      ...      ...
4003  California      F  Bachelor               588174.235  36234.0
4004  California      F  Bachelor               588174.235  36234.0
4005  California      F  Bachelor               588174.235  36234.0
4006  California      F  Bachelor               588174.235  36234.0
4007  California      F  Bachelor               588174.235  36234.0

      monthly_premium_auto  number_of_open_complaints    policy_type  \
652                   95.0                        0.0  Personal Auto
755                  271.0                        0.0  Personal Auto
771                  103.0                        0.0  Personal Auto
996                  107.0                        1.0  Personal Auto
1031                  65.0                        1.0  Personal Auto
...                    ...                        ...            ...
4003                  83.0                        0.0  Personal Auto
4004                  83.0                        0.0  Personal Auto
4005                  83.0                        0.0  Personal Auto
4006                  83.0                        0.0  Personal Auto
4007                  83.0                        0.0  Personal Auto

      vehicle_class  total_claim_amount
652    Two-Door Car          456.000000
755          Luxury         1300.800000
771    Two-Door Car          494.400000
996             SUV          513.600000
1031  Four-Door Car          312.000000
...             ...                 ...
4003  Four-Door Car          354.729129
4004  Four-Door Car          354.729129
4005  Four-Door Car          354.729129
4006  Four-Door Car          354.729129
4007  Four-Door Car          354.729129

[2941 rows x 10 columns]

In [106]:
df.drop_duplicates(subset=['state', 'income', 'policy_type', 'vehicle_class', 'customer_lifetime_value', 'total_claim_amount'], inplace=True)

In [110]:
print("Number of duplicate rows after removal:", df.duplicated(subset=['state', 'income', 'policy_type', 'vehicle_class',  'customer_lifetime_value', 'total_claim_amount']).sum())

Number of duplicate rows after removal: 0

In [112]:
duplicate_rows = df.duplicated()
print("Number of duplicate rows:", duplicate_rows.sum())
print(df[duplicate_rows])

Number of duplicate rows: 0
Empty DataFrame
Columns: [state, gender, education, customer_lifetime_value, income, monthly_premium_auto, number_of_open_complaints, policy_type, vehicle_class, total_claim_amount]
Index: []

In [114]:
df.reset_index(drop=True, inplace=True)

In [ ]:
#I chose to drop duplicates based on a Subset of key columns.

In [116]:
df.to_csv("cleaned_data.csv", index=False)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here